@using EntityLayer.Concrete
@model List<Portfolio>

<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Son Proje</h4>
            @foreach (var item in Model)
            {
            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                <div class="item">
                    <img src="@item.PortfolioImgUrl" alt="" width="300" height="200">
                </div>
                <div class="item">
                        <img src="@ViewBag.g1" alt="" width="300" height="200">
                </div>
            </div>
            <div class="d-flex py-4">
                <div class="preview-list w-100">
                    <div class="preview-item p-0">
                        <div class="preview-thumbnail">
                            <img src="@item.PortfolioIcon" class="rounded-circle" alt="">
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.PortfolioName</h6>
                                    <p class="text-muted text-small">@item.PortfolioDate</p>
                                </div>
                                <p class="text-muted">@item.PortfolioProjectLanguage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted">Hala Üzerinde Çalışılıyor</p>
            <div class="progress progress-md portfolio-progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: @item.PortfolioValue%" aria-valuenow="@item.PortfolioValue" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            }
        </div>
    </div>
</div>