@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Yaş</th>
                            <th>Mail</th>
                            <th>Telefon Numarası</th>
                            <th>Adres</th>
                            <th>Görsel Yolu</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AboutID</td>
                                <td>@item.AboutTitle</td>
                                <td>
                                    <span class="status" title="@item.AboutDescription">
                                        @(item.AboutDescription?.Length > 50
                                                                            ? item.AboutDescription.Substring(0, 50) + "..."
                                                                            : item.AboutDescription)
                                </span>
                            </td>
                            <td><label class="badge badge-info">@item.AboutAge</label></td>
                            <td><label class="badge badge-info">@item.AboutMail</label></td>
                            <td><label class="badge badge-info">@item.AboutPhone</label></td>
                            <td><label class="badge badge-info">@item.AboutAddress</label></td>
                            <td><label class="badge badge-info">@item.AboutImageUrl</label></td>
                            <td><a class="btn btn-danger" href="/About/DeleteAbout/@item.AboutID">Sil</a></td>
                            <td><a class="btn btn-warning" href="/About/UpdateAbout/@item.AboutID">Düzenle</a></td>
                        </tr>
                                                }
                    </tbody>
                </table>
                <br />
                <a href="/About/AddAbout/" class="btn btn-success">Yeni Hakkımda Ekle</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>