@using EntityLayer.Concrete
@model List<Feature>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="table-responsive">
    <table class="table align-items-center table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort text-white text-uppercase font-weight-bold fs-6" data-sort="name">#</th>
                <th scope="col" class="sort text-white text-uppercase font-weight-bold fs-6" data-sort="budget">Feature Başlık</th>
                <th scope="col" class="sort text-white text-uppercase font-weight-bold fs-6" data-sort="status">Feature Alt Başlık</th>
                <th scope="col" class="sort text-white text-uppercase font-weight-bold fs-6" data-sort="status">Feature Ad</th> 
                <th scope="col" class="sort text-white text-uppercase font-weight-bold fs-6" data-sort="status">İşlemler</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="budget">@item.FeatureID</td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i>
                            <span class="status">@item.FeatureHeader</span>
                        </span>
                    </td>
                    <td>
                        <span class="status" title="@item.FeatureTitle">
                            @(item.FeatureTitle?.Length > 50
                                                    ? item.FeatureTitle.Substring(0, 50) + "..."
                                                    : item.FeatureTitle)
                    </span>
                </td>
                <td>
                    <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">@item.FeatureName</span>
                    </span>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm alert-success text-white" role="button" data-toggle="dropdown">
                            <img src="~/Template/images/more.png" width="20" height="20" alt="İşlemler">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="/Feature/DeleteFeature/@item.FeatureID">Sil</a>
                            <a class="dropdown-item" href="/Feature/UpdateFeature/@item.FeatureID">Düzenle</a>
                        </div>
                    </div>
                </td>
            </tr>
                        }
        </tbody>
    </table>
    <br />
    <a href="/Feature/AddFeature/" class="btn btn-success">Yeni Feature Ekle</a>
</div>

